<h1>Users</h1>

<% @users.each do |u| %>
  <div class="user" style="display: flex; border: 1px solid lightgrey; padding: 10px; margin-bottom: 15px;">
    <p><%= u.email %></p>
    <% if u.is_pending %>
      <p class="pending">
        Invite is pending.
        <%= link_to "Resend", {
                      controller: 'accounts',
                      action: 'send_user_invite',
                      user: { email: u.email },
                    }, method: :post %>
      </p>
    <% end %>
  </div>
<% end %>

<h3>Invite your team</h3>
<%= form_for [current_account, User.new], url: { action: "send_user_invite" } do |f| %>
  <%= f.label :email, "Email address" %>
  <%= f.text_field :email, placeholder: "example@gmail.com", required: true %>
  <%= f.submit "Send invite" %>
<% end %>
